ul.ToReadItems {
  margin-top: 19%;
}

.to-read-item {
  margin-left: 14%;
}

.to-read-item {
  margin-top: 17%;
  position: relative;
}

.count {
  position: absolute;
  top: -54px;
  font-size: 18px;
  background-image: linear-gradient(to right, #faf3dd , #68b0ab);
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
  left: -64px;
}

.to-read-item img {
  position: relative;
  top: -54px;
  left: -64px;
  border-radius: 1%;
}

.item-name {
  width: 90%;
  background-color: white;
  border-radius: 2%;
}

.item-name div {
  width: 80%;
  display: inline-block;
  margin-top: -9%;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 6%;
}

.item-name p.chevron {
  float: right;
}


.item-name p.name {
  float: left;
}
