ul {
  list-style-type: none;
}

ul li.list-item {
  margin-top: 4%;
  box-shadow: 20px 20px 50px grey;
  cursor: pointer;
  width: 100%
}
.to-do-item {
  overflow: hidden;
  background-color: white;
}

div.right-text {
  margin-left: 3%;
  margin-top: 2%;
  float: left;
  line-height: 2;
}

div.right-button{
  text-align: center;
    float: right;
    background-image: linear-gradient(to right, #faf3dd , #68b0ab);
    min-height: 58px;
    padding-left: 4%;
    padding-top: 6%;
    padding-right: 4%;
    padding-bottom: 2%;
}
div.right-button-1{
    text-align: center;
    float: right;
    margin-top: -9%;
}
div.center-button{
    background-image: linear-gradient(to right, #faf3dd , #68b0ab);
    min-height: 58px;
    padding-left: 4%;
    padding-top: 6%;
    padding-right: 4%;
    padding-bottom: 2%;
}

div.title {
  line-height: 1.5;
}

div.right-text div.title div.name {
  font-size: 1.3em;
  font-weight: bold;
}

div.right-text div.title div.notice {
  color: grey;
  font-size: 0.9em;
}

div.right-text div.time {
  color: red;
}

.swipeable-list-item__content {
  background-color: transparent !important;
}

.completed-btn {
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.width80 {
  width: 80%;
}


