.header {
  display: flex;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 7%;
}

.close {
  float: left;
  font-size: 1.7em;
  margin-top: 5%;
  margin-left: 4%;
}

.heading {
  margin-top: 5%;
  font-size: 1.7em;
  margin-left: 33%;
  margin-right: 33%;
}

.tab {
  width: 100%;
  margin-bottom: 7%;
  margin-top: 3%;
}

.tab span {
  padding-left: 17%;
  margin-left: 6%;
  padding-right: 17%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
}

.tab span.active {
  border: 3px solid white;
}
